* {
    color: #E5E9F0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4C566A;
}
h1{
    margin: 40px 0;
    font-size: 5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-transform: capitalize;
}
table,
th,td{
    border: 5px solid #B48EAD;
    border-collapse: collapse;
}
th{
    border:6px solid hsl(311, 20%, 51%)
}

th,
td {
    width: 100px;
    padding: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.014em;
    font-size: 1.7em;
    text-align: center;
    
}

hr{
    border: 2px inset #2E3440;

}

code{
    background-color: hsl(210, 34%, 53%);
    border: 3px solid hsl(210, 34%, 60%);
    color: #D8DEE9;
    padding: 5px;
    border-radius: 9px;
    line-height: 2;
    word-wrap:break-word;

}

table {
    width: 100%;
    max-width: 1250px;
    overflow: hidden;
    background-color: hsl(220, 16%, 32%);
    margin: 0 auto;
    margin-top: 50px;

}
@media screen and (max-width: 600px){
    h1{
        font-size: 2.5em;
    }
    td,th{
        font-size: 1em;
        padding: 0px;
    }
    code{
        padding: 2px;
        border-radius: 7px;
    }
}